<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="components/getTrainClasses/getTrainClasses.css">
</head>
<body>
    <div>
        <h3>Train Classes: </h3>
    
        <!-- Check if trainClasses data is available -->
        <div ng-if="trainClasses.data && trainClasses.data.length > 0">
            <div ng-repeat="trainClass in trainClasses.data" class="card" style="width: 18rem; margin-bottom: 20px;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Train Class Code</h6>
                    
                    <p class="card-text"><strong>Class Code:</strong> {{trainClass}}</p>
                    <p class="card-text"><strong>Description:</strong> {{'No description available'}}</p>
                </div>
            </div>
        </div>
    
        <div ng-if="trainClasses.data && trainClasses.data.length == 0">
            <p>No train classes available.</p>
        </div>
    </div>
    
    
</body>
</html>








